body {
  overflow-x: hidden;
}

.about-us {
  padding: 50px 0;
}
.about-us .about-item {
  padding: 10px;
}
.about-us .about-item span {
  font-size: 17px;
  font-weight: bold;
  color: #dcb200;
}
.about-us .about-item h3 {
  padding-top: 10px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
}
.about-us .about-item p {
  width: 90%;
  padding: 10px 0;
  font-size: 17px;
  line-height: 25px;
  color: #6c6c6c;
}
.about-us .about-item h6 {
  padding-top: 10px;
}
.about-us .about-item h6 i {
  color: #1955cc;
  margin-right: 10px;
  font-size: 19px;
}
.about-us img {
  width: 100%;
  height: 450px;
}

.statistics {
  padding: 30px 0 30px;
}
.statistics .statistics-item h3 {
  font-size: 40px;
  padding: 10px 0;
  width: 85%;
  word-spacing: 3px;
  font-family: "Roboto", sans-serif;
}
.statistics .statistics-item p {
  font-size: 18px;
  width: 90%;
  color: #6c6c6c;
}
.statistics .statistics-item .inner i {
  background-color: #1955cc;
  color: #fff;
  width: 40px;
  height: 40px;
  padding: 11px 12px;
  border-radius: 10px;
}
.statistics .statistics-item .inner h5 {
  padding: 5px 0 0;
  font-weight: bold;
  padding-left: 10px;
  display: inline;
  font-family: "Roboto", sans-serif;
}
.statistics .statistics-item .inner p {
  font-size: 15px;
  width: 90%;
  padding: 10px 0;
  color: #6c6c6c;
}
.statistics .statistics-data {
  padding: 30px 15px;
  width: 250px !important;
  border-radius: 20px;
  background-color: #1955cc;
  color: #fff;
}
.statistics .statistics-data i {
  font-size: 35px;
}
.statistics .statistics-data h4 {
  font-size: 30px;
  padding: 5px 0 0;
}
.statistics .statistics-data1 {
  padding: 30px 20px;
  width: 250px !important;
  border-radius: 20px;
  background-color: #dcb200;
  color: #fff;
}
.statistics .statistics-data1 i {
  font-size: 35px;
}
.statistics .statistics-data1 h4 {
  font-size: 30px;
  padding: 5px 0 0;
}

.feature {
  background-color: #1955cc;
  padding: 80px 80px;
}
.feature .feature-data {
  display: flex;
  width: 98%;
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 20px;
}
.feature .feature-data img {
  width: 50px;
  height: 50px;
  padding-top: 8px;
}
.feature .feature-data .feature_item {
  padding: 0 30px;
}
.feature .feature-data .feature_item h2 {
  font-size: 25px;
  font-family: "Source Sans Pro", sans-serif;
}
.feature .feature-data .feature_item p {
  width: 90%;
  font-size: 15px;
  color: #6c6c6c;
}

.enroll-now-header h1 {
  font-weight: bold;
  color: #1955cc;
  text-transform: capitalize;
}
.enroll-now-header h1 span {
  background-color: #dcb200;
  color: #fff;
  padding: 0 20px;
}

.form-about-contact {
  text-align: center;
}
.form-about-contact input {
  width: 47%;
  padding: 10px 25px;
  margin: 12px 10px;
  border-radius: 5px;
  border: solid 1px #1955cc;
}
.form-about-contact .input-email {
  width: 96%;
  padding: 10px 25px;
  margin: 12px 10px;
  border-radius: 5px;
  border: solid 1px #1955cc;
}
.form-about-contact .input-masseage {
  width: 96%;
  padding: 10px 25px 100px;
  margin: 12px 10px;
  border-radius: 5px;
  border: solid 1px #1955cc;
}
.form-about-contact button {
  background-color: #1955cc;
  font-weight: bold;
  border-radius: 5px;
  width: 96%;
  color: #fff;
  border: solid 1px #1955cc;
  padding: 12px 0;
  margin-top: 10px;
}
.form-about-contact button:hover {
  background-color: #dcb200;
  color: #1955cc;
  border: solid 1px #dcb200;
}

@media (max-width: 991.98px) {
  .form-about-contact {
    text-align: center;
  }
  .form-about-contact input {
    width: 46%;
    padding: 10px 25px;
    margin: 12px 10px;
    border-radius: 5px;
    border: solid 1px #1955cc;
  }
  .form-about-contact .input-email {
    width: 96%;
    padding: 10px 25px;
    margin: 12px 10px;
    border-radius: 5px;
    border: solid 1px #1955cc;
  }
  .form-about-contact .input-masseage {
    width: 96%;
    padding: 10px 25px 100px;
    margin: 12px 10px;
    border-radius: 5px;
    border: solid 1px #1955cc;
  }
  .form-about-contact button {
    background-color: #1955cc;
    font-weight: bold;
    border-radius: 5px;
    width: 96%;
    color: #fff;
    border: solid 1px #1955cc;
    padding: 12px 0;
    margin-top: 10px;
  }
  .form-about-contact button:hover {
    background-color: #dcb200;
    color: #1955cc;
    border: solid 1px #dcb200;
  }
}
@media (max-width: 767.98px) {
  .form-about-contact {
    text-align: center;
  }
  .form-about-contact input {
    width: 96%;
    padding: 10px 25px;
    margin: 12px 10px;
    border-radius: 5px;
    border: solid 1px #1955cc;
  }
  .form-about-contact .input-email {
    width: 96%;
    padding: 10px 25px;
    margin: 12px 10px;
    border-radius: 5px;
    border: solid 1px #1955cc;
  }
  .form-about-contact .input-masseage {
    width: 96%;
    padding: 10px 25px 100px;
    margin: 12px 10px;
    border-radius: 5px;
    border: solid 1px #1955cc;
  }
  .form-about-contact button {
    background-color: #1955cc;
    font-weight: bold;
    border-radius: 5px;
    width: 96%;
    color: #fff;
    border: solid 1px #1955cc;
    padding: 12px 0;
    margin-top: 10px;
  }
  .form-about-contact button:hover {
    background-color: #dcb200;
    color: #1955cc;
    border: solid 1px #dcb200;
  }
}
@media (max-width: 575.98px) {
  .form-about-contact {
    text-align: center;
  }
  .form-about-contact input {
    width: 96%;
    padding: 10px 25px;
    margin: 12px 10px;
    border-radius: 5px;
    border: solid 1px #1955cc;
  }
  .form-about-contact .input-email {
    width: 96%;
    padding: 10px 25px;
    margin: 12px 10px;
    border-radius: 5px;
    border: solid 1px #1955cc;
  }
  .form-about-contact .input-masseage {
    width: 96%;
    padding: 10px 25px 100px;
    margin: 12px 10px;
    border-radius: 5px;
    border: solid 1px #1955cc;
  }
  .form-about-contact button {
    background-color: #1955cc;
    font-weight: bold;
    border-radius: 5px;
    width: 96%;
    color: #fff;
    border: solid 1px #1955cc;
    padding: 12px 0;
    margin-top: 10px;
  }
  .form-about-contact button:hover {
    background-color: #dcb200;
    color: #1955cc;
    border: solid 1px #dcb200;
  }
}
.footer {
  position: relative;
  padding-top: 45px;
  background: #1955cc;
}

.footer .footer-about,
.footer .footer-link,
.footer .footer-contact {
  position: relative;
  margin-bottom: 45px;
  color: #dddddd;
}

.footer .footer-about h3 {
  position: relative;
  letter-spacing: 1px;
  font-size: 19px;
  font-weight: bold;
  color: #fff;
}
.footer .footer-about h3 img {
  width: 20%;
}

.footer .footer-link h3,
.footer .footer-contact h3 {
  position: relative;
  letter-spacing: 1px;
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 26px;
}

.footer .footer-about p {
  font-size: 15px;
  padding-left: 10px;
  width: 85%;
}

.footer hr {
  color: #fff;
}

.footer .footer-link a {
  display: block;
  margin-bottom: 10px;
  color: #dddddd;
  transition: 0.3s;
  text-transform: capitalize;
  text-decoration: none;
}

.footer .footer-link a::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .footer-link a:hover {
  color: #dcb200;
  letter-spacing: 1px;
}

.footer .footer-contact p i {
  width: 25px;
  font-size: 17px;
  color: #dcb200;
}

.footer .footer-social {
  position: relative;
  margin-top: 20px;
  margin-left: 10px;
}

.footer .footer-social a {
  display: inline-block;
}

.footer .footer-social a i {
  color: #dcb200;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 50%;
  border: solid #dcb200 1px;
  cursor: pointer;
  padding: 11px;
}

.footer .footer-social a .facebook {
  color: #dcb200;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  border: solid #dcb200 1px;
  cursor: pointer;
  padding: 11px 13px;
}

.footer .footer-social a:last-child i {
  margin: 0;
}

.footer .footer-social a:hover i {
  color: #dddddd;
}

.footer .footer-menu .f-menu {
  position: relative;
  padding: 10px 0;
  font-size: 0;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu .f-menu a {
  color: #dddddd;
  font-size: 16px;
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.footer .footer-menu .f-menu a:hover {
  color: #0085ff;
}

.footer .footer-menu .f-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

.footer .copyright {
  padding: 30px 15px;
}

.footer .copyright p {
  margin: 0;
  color: #dddddd;
}

.footer .copyright .col-md-6:last-child p {
  text-align: right;
}

.footer .copyright p a {
  color: #dcb200;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}

.footer .copyright p a:hover {
  color: #ffffff;
}

@media (max-width: 768px) {
  .footer .copyright p,
.footer .copyright .col-md-6:last-child p {
    margin: 5px 0;
    text-align: center;
  }
}/*# sourceMappingURL=about.css.map */